.root {
	-fx-font-size: 11pt;
	-fx-border-radius: 0;
}

.label {
    -fx-text-fill: #4c4a4a; /* normal text */
}
.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}
.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.button {
    -fx-background-color: #00b4ef; /* blue */
	-fx-background-radius: 0;
    -fx-text-fill: white;
	-fx-padding: 0.3em 1.6em 0.3em 1.6em;

	-fx-border-width: 0;
}
.button:hover, .button:focused {
	-fx-background-color: #00c1ff; /* light blue */
}
.button:pressed {
	-fx-background-color: #0096c8; /* dark blue */
}
.button:disabled {
	-fx-opacity: 1;

    -fx-background-color: #c8c8c8; /* disabled color */
    -fx-text-fill: #898989;
}

.check-box {
	-fx-text-fill: #4c4a4a;
}
.check-box .box {
	-fx-background-color: white;
	-fx-border-color: #c8c8c8; /* border color */
}
.check-box:focused .box, .check-box:hover .box {
    -fx-border-color: #8f8f8f; /* selected border color */
}
.check-box:selected .mark {
	-fx-background-color: #00b4ef;
}
.check-box:selected .box {
	-fx-background-color: white;
}

.text-area {
	-fx-border-color: #c8c8c8;
	-fx-text-fill: #4c4a4a;
	-fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}
.text-area:hover, .text-area:focused {
	-fx-border-color: #8f8f8f;
}

.combo-box {
	-fx-border-color: #c8c8c8;
	-fx-background-color: white;
	-fx-background-radius: 0;
}
.combo-box:focused, .combo-box:hover {
	-fx-border-color: #8f8f8f;
}
.combo-box .list-cell {
	-fx-text-fill: #4c4a4a;
    -fx-background-color: white;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
	-fx-border-color: transparent;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #00b4ef;
}
.combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: #00b4ef;
}

.spinner {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: #c8c8c8;
}
.spinner:hover, .spinner:focused {
	-fx-border-color: #8f8f8f;
}
.spinner .increment-arrow-button {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
}
.spinner .decrement-arrow-button {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: transparent;
}
.spinner .text-field {
	-fx-border-color: transparent;
}

.text-field {
	-fx-background-color: white;
	-fx-background-radius: 0;
	-fx-border-color: #c8c8c8;
	-fx-text-fill: #4c4a4a; 

	-fx-highlight-fill: #a2e8ff;
	-fx-highlight-text-fill: #4c4a4a;
}
.text-field:hover, .text-field:focused {
	-fx-border-color: #8f8f8f;
}

.scroll-pane {
	-fx-background-color:transparent;
}
.scroll-pane .corner {
    -fx-background-color: transparent ;
}
.scroll-bar{
	 -fx-background-color: transparent;
	 -fx-background-radius: 0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
}
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 0 1em 0;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 1em 0 0;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: "";
	-fx-padding: 0;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #00b4ef; /* blue */
	-fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb:hover, 
.scroll-bar:horizontal .thumb:focused,
.scroll-bar:vertical .thumb:hover, 
.scroll-bar:vertical .thumb:focused {
	-fx-background-color: #00c1ff; /* light blue */
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
	-fx-background-color: #0096c8; /* dark blue */
}

/*
* {
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-background-color: white;
}
*/
